/* Insert your global CSS here. */
.map {
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
}
h1 {
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    text-align: center; 
    font-family: 'Roboto Slab';
    font-weight: 500; 
    font-size:24px;
    margin-left: 20px;  
}

#legend text {
    font-family: 'Roboto Slab';
    font-weight: 300; 
    font-size: 11px; 

}

.time-slider {
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    text-align: center; 
    /* margin-top: 40px;  */
}

path:hover {
    fill-opacity: .6;
}
